<div class="container container-top">
  <% if !(@marketplace.blank?) %>
  <h4><i>Last Updated on <%= @marketplace.creationtime.to_formatted_s %></i></h4>
  <table class="table table-bordered table-hover"> 
    <thead>
      <th>Snack Name</th>
      <th>Price</th>
      <th>Deposit Address</th>
    </thead>
    <tbody>
      <% @marketplace.snack_quotes.alphabetical.each do |sq| %>
      <tr>
        <td><%= sq.snack.name %></td>
        <td><%= sq.price %> CO2C</td>
        <td><%= sq.deposit_address %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <h4><i>No Prices Currently Listed</i></h4>
  <% end %>
  <%= link_to 'Admin', marketplace_admin_path, class: "btn" %>
</div>